{% extends 'blog/base.html'%}
{% block body_block %}

<div class="container">
    <div class="jumbotron">
      <h2>Please login:</h2>
      <h3>Must be a super user, check the site admin</h3>
      
      <p>username: step</p>
      <p>password: testpassword</p>
      
      <form class="" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"  value="Login" class="btn btn-primary">
        <input type="hidden" name="next" value="{{ next }}">
      </form>
      
      {% if form.errors %}
        <p>Your username or password is incorrect, please try again.</p>
      {% endif %}
      
    </div>
</div>

{% endblock %}